.container{
    display: flex;
}
.calContainer{
    width: 70%;
    display:flex;
    float: left;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.window{
    border-style: solid;
    padding: 10px;
    border-radius: 15px;
    background-color: #DDDDDD;
    border-color: #DDDDDD;
}
.display{
    height: 70px;
    border-style: solid;
    width: 200px;
    border-radius: 15px;
    margin-bottom: 5px;
    background-color: #c1bebe;
    border-color: #DDDDDD;
    font-size:30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:right;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 5px 0 5px;
    overflow:auto;
    
}
.row{
    display:flex;
    width: 214px;
    height:53px; 
    align-items:stretch;

}
.zero{
    flex-grow: 2.65;
    border-radius: 25px;
}
input{
    flex: 1;
    margin: 4px;
    border-radius: 50%;
    background-color: #CCCCCC;
    border-color: #CCCCCC;
    font-weight: bolder;
    outline: none;
    border-style: solid;
    font-size:15px;
    color: #191102
}
.operator{
    background-color: #AAAAAA;
    border-color: #AAAAAA;
}
.action{
    background-color: #AAAAAA;
    border-color: #AAAAAA;
}
.equals{
    background-color: #73E2A7
}
.ac{
    background-color: #8FBCE0;
    border-color: #8FBCE0;
}